<div id='form_wrapper'>
<span id='controller_name' class='treatments'></span>
<% standard_form :post, @post do |f| %>

  <%= f.text_field :name, :label => "Condition" %> 

<%= render :partial => 'posts/helptext' %>

<div class='search'>
    <label>
    <span id='searching_by'>Brand Name</span>  
    </label>
    <input id='drugtext' name='drugtext' type='text' onkeypress='return SearchDiv.enterMeansSearch(event);'>
    <%= button_to_function "Search", "SearchDiv.searchForResults('brandname')", :id => 'search_button' %>
    <img id="spinner" style="display: none;" src="/images/spinner.gif" />
    <span id='alt_search_link'>
        <a href="#" onclick="SearchDiv.byIngredient(); return false;">Search By Active Ingredient (Generic Name)</a>
    </span>
    <div id='results'></div>
  </div>
   
  <label>Drugs of Choice ATCs</label>
  <ul id='post_atcs'>
    <% for d in @post.drug_refs %>
    <% c = Code.find_by_tc_atc_number(d.tc_atc_number) %>
    <% @post_atc = {:atc_code => d.tc_atc_number, :atc_class => c.tc_atc, :id => d.id, :con_name => 'treatments',
                    :label => d.label } %>
    <%= render :partial => '/posts/existing_post_atc', :object => @post_atc %>
  <% end %>
  </ul>

  <%= f.text_area :body, :label => "Comments/Instructions" %>
  
  <%= f.text_field :reference, :label => "Reference" %>
  
  <label>Category</label>

<%= f.select(:tag_list, %w{ Cardiovascular Dermatology Ears\ Nose\ and\ Throat 
    Endocrinology Gastroenterology Genitourinary\ System HIV Hematology Musculoskeletal\ System 
    Neurology Opthalmology Obstetrics\ and\ Gynecology Palliative\ Care Psychiatry\ and\ Behaviour 
    Respiratory\ System }) %>
  
  <%= standard_submit %>
  
<% end %>
</div>
