<% if logged_in? and current_user.valid? %>
    <%= link_to 'Add New Treatment', new_treatment_url, :class => 'new_post' %>
<% end %>

  <br>
  <%= link_to "Find by Category", :action => 'index', :controller => 'tags' %>
<br>
<br>

<table id="posts">
    <tr>
	<th><%= link_to "Condition", :action => :index, :sort_by => :condition %></th>
        <th>Drug of Choice</th>
        <th>Category</th>
        <th><%= link_to "Author", :action => :index, :sort_by => :author %></th>
        <th><%= link_to "Last Updated", :action => :index, :sort_by => :date %></th>
        <th>Comments</th>
    </tr>
    <% for post in @posts %>
  	<tr class="no_sig">
            <td><b><%= link_to truncate(post.name, :length => 50), treatment_url(:id => post.id) %></td></b>
    	    <td><% if post.drug_refs.empty? %>
      		    None
    		<% else %>
    		    <%= proper_noun(post.drug_refs[0].code.tc_atc) %>
    		<% end %></td>
    	    <td><b><% for tag in post.tags %>
	         <%= link_to tag.name, :action => 'show', :controller => 'tags', :id => tag.id %>
	                       <% end %></td></b>
    	    <td><%= link_to post.creator.name, user_url(:id => post.created_by) %></td> 
    	    <td><%= nice_date post.updated_at %></td> 
    	    <td><% c = post.comments %>
	<% if c.count == 0 %>
	   None
	<% else %>   
	<%= pluralize c.size, 'comment' %>
	  <% unless c.detect {|com| !com.agree.nil? }.nil? %><!-- unless none of the comments have votes -->
	    <br />
	    <% num_yes = c.find_all{|com| com.agree}.length %>
	    <% num_no = c.find_all{|com| com.agree == false}.length %>
        <%= link_to  "#{(num_yes*100)/(num_yes + num_no)}% agree", 
        :action => 'show', :controller => post.class.to_s.downcase + "s", :id => post %>
	    <br /><small> (<%= num_yes %> / <%= num_yes + num_no %> people) </small>
	  <% end %>
	 <% end %></td> 
  	</tr>
    <% end %>
</table>
  <%= will_paginate @posts %>
