<h4>Search Treatments Only</h4>
<form method="get" action="bling">
<input type="text" name="query" size="15" value="" /><br />
<input type="submit" name="submit" value="Search" />
</form>
<div id="form_container">
  <div id="cancel_link">
    <%= link_to_function "Cancel", "PostForm.toggle()", :class =>'delete small' %>
  </div>
  <div id="new_link">
    <span>+ </span>
    <%= link_to_function "New #{post_type}", "PostForm.toggle()", :class =>'create' %>
  </div>
  <%= render :partial => 'form' %>
</div>
  <br>
  <%= link_to "Find by Category", :action => 'index', :controller => 'tags' %>
<div id="posts">
  <%= render :partial => "post", :collection => @posts %>
  <%= pagination_links @post_pages %>
</div>
