<% if logged_in? and can_edit? @post %>
    <%= link_to 'Edit', edit_treatment_url(@post), :class => 'new_post' %>
<% end %>
  <div id="meta">
    Posted <%= nice_date @post.created_at %> by <%= link_to @post.creator.name, user_url(:id => @post.creator),
                                                                 {'class' =>'grey' } %>
  </div>
  <% unless @flds.empty? %>
  <h3>First Line Drugs</h3>
  <ol>
  <% for dr in @flds%>
  <li><b><%= dr.code.tc_atc %></b> (<%= dr.code.tc_atc_number %>)</li>
  <br>
  <% end %>
  </ol>
  <% end %>
  
  <% unless @slds.empty? %>
  <h3>Second Line Drugs</h3>
  <ol>
  <% for dr in @slds %>
  <li><b><%= dr.code.tc_atc %></b> (<%= dr.code.tc_atc_number %>)</li>
  <br>
  <% end %>
  </ol>
  <% end %>
  
  <% unless @pregs.empty? %>
  <h3>For Pregnant Women, Suggest</h3>
  <ol>
  <% for dr in @pregs %>
  <li><b><%= dr.code.tc_atc %></b> (<%= dr.code.tc_atc_number %>)</li>
  <br>
  <% end %>
  </ol>
  <% end %>

  <% unless @dnus.empty? %>
  <h3>Do not use -- ineffective or may be harmful</h3>
  <ol>
  <% for dr in @dnus %>
  <li><b><%= dr.code.tc_atc %></b> (<%= dr.code.tc_atc_number %>)</li>
  <br />
  <% end %>
  </ol>
  <% end %>
  
  <% if @post.reference.any? %>
  <h3>Reference</h3>
  <div id="detail">
   <% if @post.reference[0..6] == "http://" %>
    <a href="<%= @post.reference %>"><%= truncate(@post.reference, 50) %></a>
   <% else %>
    <%= @post.reference %>
   <% end %>
  </div>

  <% end %>
  
  <h3>Comments/Instructions</h3>
  <div id="detail">
    <%= simple_format(@post.body) if @post.body.any? %>
  </div>
  
  <% @tags = Tag.find(:all) %>
  
  <h3>Tags</h3>
  <% if @post.tags.empty? %>
  (None)<p>
  <% else %>
    <% for tag in @post.tags %>
        <ul><li><%= tag.name %>
        <% if logged_in? and current_user.valid? and can_edit? @post %>
        <%= button_to 'Remove', { :only_path => false, :action => 'remove_tag', :controller => :treatments, :id => @post,
        :which_tag => tag.id }, 
        :confirm => 'Are you sure?' %>
        <% end %>
        </li></ul>
    <% end %>
  <% end %>

<%= render :partial => "comments/comments", :comments => @post.comments %>
