<%= javascript_include_tag :defaults %>

<% standard_form :post, @post do |f| %>

   <span style="width:150px;">Title:</span><input type="text" name="title" size="30" />
   <span style="width:150px;">Evidence:</span><input type="text" name="evidence" size="30" />
   <span style="width:150px;">Significance:</span><input type="text" name="significance" size="30" />

   <div id="conditions">
     Conditions <a href="#" onClick="appendToElement();" title="Add a condition">+</a>
     <hr /> <br />
   </div>
   <div id="AjaxPanel">
     <!-- if user adds more members details, JS will populate this section -->
     <span style="width:50px;">Type:</span>
     <input type="text" name="type" size="20" />
     <input type="text" name="specs" size="10" />
     <input type="text" name="details" size="20" /> <br />
   </div>

<%= standard_submit %>
<% end %>

<script type="text/javascript">
  function appendToElement() {
    var oAjax=new Ajax.Updater({success: 'AjaxPanel'}, :action => "condition", { insertion: Insertion.Bottom }); 
  }
</script>
