<li class='fields'> <span>Type:</span>
<%= select_tag 'condition_type',
  options_for_select([ 'Age', 'Dxcodes', 'Sex', 'Drugs', 'Notes' ]), :style => 'width:80px' %>
<%= select_tag 'condition_target',
  options_for_select([ 'All', 'Any', 'Not', 'Not Any', 'Not All' ]), :style => 'width:80px' %>
<%= text_field_tag 'condition_text', '', :style => 'width:260px;display:inline', :onClick => "drugBox(this)" %> 
<%= link_to_function '(Remove)', "$(this).up('li').remove()" %> </li>
