<li class='fields'> <span>Warning:</span>
<%= select_tag "warning_strength",
    options_for_select([ 'Recommendation', 'Warning' ]), :style => "width:130px" %>
<%= text_field_tag "warning_text", '', :style => "width:280px;display:inline" %> 
<%= link_to_function '(Remove)', "$(this).up('li').remove()" %> </li>
