<li class='fields'> <span>Warning:</span>
<%= select_tag "warning_strength",
    options_for_select([ 'Recommendation', 'Warning' ]), :style => "width:130px" %>
<%= text_field_tag "warning_text", '', :style => "width:280px;display:inline" %> 
<%= hidden_field_tag 'destroy_consequence', 0 %>  
<%= link_to_function '(Remove)', 'remove_fields(this)' %> </li>
