<% if logged_in? and current_user.valid? %>
<div id="form_container">
  <div id="cancel_link"><%= link_to_function "Cancel", "PostForm.toggle()", :class => 'delete small' %></div>
  <div id="new_link"><span>+ </span><%= link_to_function "New #{post_type}", "PostForm.toggle()", :class => 'create' %>
  </div>
  <%= render :partial => 'form' %>
</div>
<% end %>
<br>


<% for g in @posts %>
<%= link_to g.name, guideline_path(g) %>
<br>
<% end %>
