<% if logged_in? and current_user.valid? %>
  <%= link_to "Add New #{post_type}", new_guideline_url, :class => 'new_post' %>
<% end %>
<br />

<table id="posts">
  <tr>
    <th>Name</th><th>Author</th><th>Last Updated</th>
  </tr>
  <% @grouped_posts.each do |uuid, posts| %>
    <tr class='no_sig'>
      <td><%= link_to posts[-1].name, guideline_path(posts[-1].id) %></td>
      <td><%= link_to posts[-1].creator.name, user_url(:id => posts[-1].created_by) %></td>
      <td><%= nice_date posts[-1].updated_at %></td>
    </tr>
  <% end %>
</table>
