Hello,

<% @friend = User.find_by_id(@user["added_by"]) %>
<%= @friend.name %> has signed you up for a MyDrugRef account.
MyDrugRef is an interactive network that allows physicians to share their knowledge about drug warnings,
interactions, prices, and drugs of choice.

Please go to http://dev2.mydrugref.org/sessions/new/ to sign in.

Your password is <%= @user["password"] %>

If you would not like to be a part of the MyDrugRef network, please notify me at deborahlchan@gmail.com and I will
delete your account. If you leave your account unused for 30 days, it will also be deleted.

Deborah Chan
MyDrugRef Administrator