<div class="post">
  <%= user_thumb comment.creator %>
    <p class="meta"><%= nice_date comment.created_at %></p>
    <% if logged_in? and current_user == comment.creator %>
      <big><strong>
<!--<%= link_to 'Edit', :controller => "comments", :action => "edit", :post_id => @post.id, :id => comment.id %>-->
        <%= link_to 'Edit', edit_comment_url(:post_type => @post.class.to_s + 's',
                                             :post_id => @post.id, :id => comment.id ) %>
      </big></strong>
    <% end %>
  <%= simple_format comment.body %>
 <% if comment.agree %> 
	<img src="/images/thumbsup copy.bmp" alt="Agree" float="left">
 <% elsif comment.agree == false %>
 	 <img src="/images/thumbs down.bmp" alt="Disagree" float="left">
	 <% end %>
  <%= clear_div %>
</div>
