<h4>Search Interactions Only</h4>
<form method="get" action="bla">
<input type="text" name="query" size="15" value="" /><br />
<input type="submit" name="submit" value="Search" />
</form>

<div id="form_container">
  <div id="cancel_link"><%= link_to_function "Cancel", "PostForm.toggle()", :class => 'delete small' %></div>
  <div id="new_link"><span>+ </span><%= link_to_function "New #{post_type}", "PostForm.toggle()", :class => 'create' %></div>
  <%= render :partial => 'form' %>
</div>

<div id="posts">
  <%= render :partial => "post", :collection => @posts %>
  <%= link_to 'Previous page', { :page => @post_pages.current.previous} if @post_pages.current.previous %>
  <%= pagination_links @post_pages %>
  <%= link_to 'Next page', { :page => @post_pages.current.next} if @post_pages.current.next %>
</div>