<% standard_form :post, @post do |f| %>
  <p><font color="purple"><b>Please type at least three characters and wait patiently for 
 autocomplete to find your drug. 
 <p>Also, avoid using backspace as it will slow down autocomplete tenfold.</b></font></p>
  <%= f.text_field :name, :label => "Drug Name" %>
<div class="auto_complete" id="post_name_auto_complete"></div>
      <script type="text/javascript">;
        new Ajax.Autocompleter('post_name',
'post_name_auto_complete',
'/posts/auto_complete_for_post_name',
        { minChars: 3,
          frequency: 0.05,
          updateElement: function(selected) {
          Element.cleanWhitespace(selected);
          dn = selected.childNodes;
          $('post_name').value = dn[0].firstChild.nodeValue;
          $('post_atc').value = dn[2].firstChild.nodeValue;
        } } );
      </script>

<%= f.text_field :atc, :label => "ATC Code (read only)", :readonly => true %>
<%= f.text_field :news_source, :label => "News Source (e.g. Company Name)" %>
<%= f.text_field :news_date, :label => "News Date" %>
<%= f.text_area :body, :label => "Brief Description (e.g. Subject of e-mail)" %>
<%= f.text_field :reference, :label => "Reference (if available)" %>
  <%= standard_submit %>
<% end %>