<% if logged_in? %>
  <%= link_to "Add New #{post_type}", new_bulletin_url, :class => 'new_post' %>
<% end %>
<br />

<div id="posts">
  <%= render :partial => "post", :collection => @posts %>
  <%= will_paginate @posts %>
</div>
