<% standard_form :user, @user do |f| %>
  <%= f.text_field :name %>
  <%= f.password_field :password %>
  <%= f.text_field :email %>
  <%= f.text_field :phone %>
  <%= f.text_field :address %>
  <%= f.text_field :city %>
  <%= f.text_field :state %>
  <%= f.text_field :zip %>
  <%= standard_submit "User", @user %>
<% end %>
