<h2><%= @user.name %>'s posts</h2>

<% if @warnings.any? %>
<h4>Warnings</h4>
    <table id="posts">
 	<tr>
	    <th>Drug Name</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
  	<% for post in @warnings %>
  	<tr class=<%= post.significance.downcase %>>
    	    <td><b><%= link_to proper_noun(post.drug_refs[0].code.tc_atc), warning_url(:id => post.id) %></td></b>
    	    <td><%= nice_date post.created_at %></td>   
    	    <td><%= nice_date post.updated_at %></td> 
  	</tr>
	<% end %>
</table>
<% end %>

<% if @interactions.any? %>
<h4>Interactions</h4>
    <table id="posts">
        <tr>
	    <th>Affecting Drug</th>
            <th>Affected Drug</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
  	<% for post in @interactions %>
  	    <% for dr in post.drug_refs %>
          <!-- Holbrook Interactions contain atc codes that are not in the Health Canada Database -->
  	      <% if dr.label == 'int_drug2' then dr.code.nil? ? drug2 = dr.tc_atc_number : drug2 = dr.code.tc_atc %>
  	      <% elsif dr.label == 'int_drug1' then dr.code.nil? ? drug1 = dr.tc_atc_number : drug1 = dr.code.tc_atc %>
          <% end %>
        <% end %>
  	<tr class=<%= post.significance.downcase %>>
    	   <td><b><%= link_to proper_noun(drug1), interaction_url(:id => post.id) %></td></b>
    	   <td><b><%= link_to proper_noun(drug2), interaction_url(:id => post.id) %></td></b>
    	   <td><%= nice_date post.created_at %></td> 
    	   <td><%= nice_date post.updated_at %></td>  
  	</tr>
	<% end %>
</table>
<% end %>

<% if @treatments.any? %>
<h4>Treatments</h4>	
    <table id="posts">
 	<tr>
     	    <th>Condition</th>
     	    <th>Drug of Choice</th>
            <th>Created</th>
            <th>Last Updated</th>
  	</tr>
  	<% for post in @treatments %>
  	<tr class="no_sig">
  	        <% choice = post.drug_refs.detect {|d| d.label == 'FLD'} %>
    	    <td><b><%= link_to post.name, treatment_url(:id => post.id) %></b></td>
    	        <td>
    	        <% if choice.nil? or choice.code.nil? %>
    	        None
    	        <% else %>
    	        <%= proper_noun(choice.code.tc_atc) %>
    	        <% end %>
    	        </td>
    	        <td><%= nice_date post.created_at %></td>
    	        <td><%= nice_date post.updated_at %></td>   
  	</tr>
	<% end %>
    </table>
	
<% end %>

<% if @bulletins.any? %>
<h4>Bulletins</h4>
	
    <table id="posts">
 	<tr>
	    <th> Drug Name</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
    <% for post in @bulletins %>
  	<tr class="no_sig">
    	    <td><b><%= link_to post.drug_refs[0].code.tc_atc, bulletin_url(:id => post.id) %></td></b>
   	    <td><%= nice_date post.created_at %></td>   
    	    <td><%= nice_date post.updated_at %></td> 
        </tr>
    <% end %>
    </table>
	
<% end %>

<% if @guidelines.any? %>
<h4>Guidelines</h4>
	
    <table id="posts">
 	<tr>
	    <th>Name</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
    <% @guidelines.each do |uuid, posts| %>
  	<tr class="no_sig">
    	    <td><b><%= link_to posts[-1].name, guideline_url(:id => posts[-1].id) %></td></b>
   	    <td><%= nice_date posts[-1].created_at %></td>   
    	    <td><%= nice_date posts[-1].updated_at %></td> 
        </tr>
    <% end %>
    </table>
	
<% end %>

<% if @comments.any? %>
<h4>Comments</h4>	
    <table id="posts">
 	<tr>
	    <th>Name</th>
 	    <th>Body</th>
  	</tr>
    <% for post in @comments %>
  	<tr class = <%= comment_class(post.agree) %>>
    	    <td><b><%=link_to post.name, :action => 'show', :controller => "#{post.post.class}s", 
					 :id => post.post_id %></td></b>
    	    <td><%= truncate(post.body, 200) %></td>   
  	</tr>
    <% end %>
    </table>
	
<% end %>
<br />