<%# This query is put here so that the partial can easily be included in any view %>
<br>
    <h4>You trust: </h4>
        <ul id="statuses">
   <% if logged_in? and current_user.valid? %>
    <% unless @current_user.friends.blank? %>
        <% for pal in @current_user.friends %> 
            <li><%= link_to pal.short_name, :action => 'show', :controller => "users", :id => pal.id %></li> 
        <% end %></ul>
    <% end %>
   <% end %>