<div id="form_container">
  <div id="cancel_link">
    <%= link_to_function "Cancel", "PostForm.toggle()",
          :class => 'delete small' %>
  </div>
  <% if logged_in? and current_user.valid? and current_user.name != "Guest" %><div id="new_link">
    <span>+ </span>
    <%= link_to_function "Add New User", "PostForm.toggle()",
          :class =>'create' %>
  </div><% end %>
  <%= render :partial =>'form' %>
</div>

<table id="posts" style="margin-top: 20px;">
  <% for user in @users %>
    <tr>
      <td><strong><%= link_to user.name, user_url(:id => user) %></strong></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<h2>Search Posts by User</h2>
<br>
<form method="get" action="search_by_u">
 &nbsp; <input type="text" name="query" size="15" value="" />
    <input type="submit" name="submit" value="Search" />
     <select name="type_options">
       <option value="all">All Posts</option>
       <option value="Warning">Warnings</option>
       <option value="Interaction">Interactions</option>
       <option value="Treatment">Treatments</option>
       <option value="Bulletin">Bulletins</option>
     </select>
     <select name="author_options">
       <option value="all">All Users</option>
       <% if logged_in? and current_user.valid? %>
       <% unless @current_user.friends.blank? %> 
       <option value="trusted">Trusted Users</option>
       <% end %>
       <% end %>
       <% for user in @users %>
       <option value="<%= user.id %>"><%= user.name %></option>
       <% end %>
     </select>
  <br><%= link_to "Search Tips", {:action => 'popup', :controller => 'posts'}, :popup => ['height=325,width=600'] %>  
</form>