<div id="form_container" <% if @edit_on %>class="active"<% end %>>
  <div id="cancel_link">
    <%= link_to_function "Cancel", "PostForm.toggle()", :class => 'delete small' %>
  </div>
  <div id="new_link">
    <% if logged_in? and can_edit? @user and @current_user.name != "Guest" %>
        <span>&nbsp;&nbsp;</span>
        <%= link_to_function "Edit", "PostForm.toggle()", :class => 'create' %>
    <% end %>
  </div>
  <%= render :partial => 'form' %>
</div><br />
 
 <div id="detail">
    <div id="change_picture">
      <%= image_tag formatted_user_url(:id => @user, 
            :format => 'jpg'), 
            :class => 'user_picture', 
            :alt => @user.name %>
      <% if logged_in? and can_edit? @user %>
      <form id="picture_form" style="display: none;" 
            method="post" enctype="multipart/form-data" 
            action="<%= url_for(:action => 'show') %>">
        <fieldset>
          <input type="hidden" name="_method" value="put" />
          <input type="file" name="user[file]" /> 
		  <input type="submit" value="Change Picture" />
        </fieldset>
      </form>
	  <% end %>
	  <br />
	  <% unless logged_in? == false or @current_user.friends.include?(@user) or @user == @current_user %>
<%= link_to "Trust #{@user.name}",
            { :controller => "friendship", :action => "create",
            :id => @user.id } %>
        <% end %>
    <% if logged_in? and @current_user.friends.include?(@user) %>
<%= link_to "Untrust", :controller => "friendship", :action => "destroy", :id => @user.id %>
    <% end %>
    </div>
<% if logged_in? and can_edit? @user and @current_user.name != "Guest" %>
<B>E-mail:</b> <%= @user.email %>
<% end %>
</div>
<br />
<h2><%= @user.doc_name %>'s posts</h2>

<% if @warnings.any? %>
<h4>Warnings</h4>
    <table id="posts">
 	<tr>
	    <th>Drug Name</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
  	<% for post in @warnings %>
  	<tr class=<%= post.significance.downcase %>>
    	    <td><b><%= link_to proper_noun(post.drug_refs[0].code.tc_atc), warning_url(:id => post.id) %></td></b>
    	    <td><%= nice_date post.created_at %></td>   
    	    <td><%= nice_date post.updated_at %></td> 
  	</tr>
	<% end %>
</table>
<% end %>

<% if @interactions.any? %>
<h4>Interactions</h4>
    <table id="posts">
        <tr>
	    <th>Affecting Drug</th>
            <th>Affected Drug</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
  	<% for post in @interactions %>
  	    <% for dr in post.drug_refs %>
  	        <% drug1 = dr.code.tc_atc if dr.label == 'int_drug1' %>
  	        <% drug2 = dr.code.tc_atc if dr.label == 'int_drug2' %>
  	    <% end %>
  	<tr class=<%= post.significance.downcase %>>
    	   <td><b><%= link_to proper_noun(drug1), interaction_url(:id => post.id) %></td></b>
    	   <td><b><%= link_to proper_noun(drug2), interaction_url(:id => post.id) %></td></b>
    	   <td><%= nice_date post.created_at %></td> 
    	   <td><%= nice_date post.updated_at %></td>  
  	</tr>
	<% end %>
</table>
<% end %>

<% if @treatments.any? %>
<h4>Treatments</h4>	
    <table id="posts">
 	<tr>
     	    <th>Condition</th>
     	    <th>Drug of Choice</th>
            <th>Created</th>
            <th>Last Updated</th>
  	</tr>
  	<% for post in @treatments %>
  	<tr class="no_sig">
  	        <% choice = post.drug_refs.detect {|d| d.label == 'FLD'} %>
    	    <td><b><%= link_to post.name, treatment_url(:id => post.id) %></b></td>
    	        <td>
    	        <% if choice.nil? %>
    	        None
    	        <% else %>
    	        <%= proper_noun(choice.code.tc_atc) %>
    	        <% end %>
    	        </td>
    	        <td><%= nice_date post.created_at %></td>
    	        <td><%= nice_date post.updated_at %></td>   
  	</tr>
	<% end %>
    </table>
	
<% end %>

<% if @bulletins.any? %>
<h4>Bulletins</h4>
	
    <table id="posts">
 	<tr>
	    <th> Drug Name</th>
 	    <th>Created</th>
            <th>Last Updated</th>
  	</tr>
    <% for post in @bulletins %>
  	<tr class="no_sig">
    	    <td><b><%= link_to post.name, bulletin_url(:id => post.id) %></td></b>
   	    <td><%= nice_date post.created_at %></td>   
    	    <td><%= nice_date post.updated_at %></td> 
        </tr>
    <% end %>
    </table>
	
<% end %>

<% if @comments.any? %>
<h4>Comments</h4>	
    <table id="posts">
 	<tr>
	    <th>Name</th>
 	    <th>Body</th>
  	</tr>
    <% for post in @comments %>
  	<tr class = <%= comment_class(post.agree) %>>
    	    <td><b><%=link_to post.name, :action => 'show', :controller => "#{Post.find(post.post_id).class}s", 
					 :id => post.post_id %></td></b>
    	    <td><%= truncate(post.body, 200) %></td>   
  	</tr>
    <% end %>
    </table>
	
<% end %>	

<br />
<% unless @user.friends.blank? %>
    <h2><%= @user.doc_name %> trusts: </h2>
        <ul><% for pal in @friends %> 
            <li><%= link_to pal.name, user_url(:id => pal.id) %></li> 
        <% end %></ul>
<% end %>
<% unless @trusters.blank? %>
<br />
<h4><%= @user.doc_name %> is trusted by:</h4>
<ul>
<% for person in @trusters %>
        <li><%= link_to person.name, user_url(:id => person.id) %></li>
<% end %></ul>
<% end %>
