<% if @total == 0 %>

<p align="center">No items found...</p>

<% else %>

<p align="center">Searching <strong><%= @query %></strong> returned
<b><%= @total %></b> warning(s).</p>
<% end %>

<table border = "0" cellpadding="3" cellspacing="2"  width = "100%">
 		<tr>
			<td align="center" valign="top" bgcolor="#e1e1e1" width="20%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Drug</b>
 			</font>
            </td>
            <td align="center" valign="top" bgcolor="#e1e1e1" width="20%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Warning</b>
 			</font>
            </td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" width="16%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Author</b>
 			</font>
           	</td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" width="20%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Last Updated</b>
 			</font>
           	</td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" width="12%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Comments</b>
 			</font>
           	</td>
  		</tr>
  		<% for post in @warnings %>
  				<tr align="center" style = "background: <%= "#a2b5cd" if post.significance == "3" %>
    				<%= "#bcd2ee" if post.significance == "2" %>
    				<%= "#cae1ff" if post.significance == "1" %>
    				<%= "#6699FF" if post.significance == nil %>
    				<%= "#6699FF" if post.significance == " " %>;">
    				<td><b><%= link_to post.name, :action => 'show', :controller => "warnings", :id => post.id %></td></b>
    				<td><%= truncate(post.body, 50) %></td>
    				<td><font size="1"><%= link_to User.find(post.created_by).name, :action => 'show', :controller => 'users', :id => post.created_by %></font></td> 
    				<td><font size="1"><%= post.updated_at %></font></td> 
    				<td><font size="1"><% if post.comments.count == 0 %>None<% else %>
	  			<%= link_to  "#{(post.comments.tally2*100)/post.comments.count}% agree", :action => 'show', :id => post %>
	  			<br><small> (<%= post.comments.tally2 %> / <%= post.comments.count %> people) </small>
	  		<% end %></font></td> 
  				</tr>
		<% end %>
	</table>

<%= link_to 'Previous page', { :page => @pages.current.previous, :query => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :query=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :query => @query} if @pages.current.next %>

<%= link_to "Search Tips", {:action => 'popup', :controller => 'posts'}, :popup => ['height=325,width=600'] %>

<h4>Search</h4>
<form method="get" action="search">
<input type="text" name="query" size="15" value="" /><br />
<input type="submit" name="submit" value="Search" />
</form>