<% for price in @post.prices %>

<div class="post">
<%= user_thumb price.creator %>
<p class="meta">Created <%= nice_date price.created_at %></p>
    <% unless price.created_at == price.updated_at %>
		<p class="meta"><b>   Updated <%=nice_date price.updated_at %></b></p>
		<% end %>
<% if logged_in? and current_user.valid? and current_user == price.creator %>
		<big><strong>
		<%= link_to 'Edit', :controller => "prices", :action => "edit", :post_id => @post, :id => price.id %>
		</big></strong>
		<% end %>
<p>
<p>Price: <%= number_to_currency(price.cost) %>
<p>Retailer: <%= price.reference %>
<%= clear_div %>
</div>
<% end %>  
