<% for price in @post.prices %>

<div class="post">
<%= user_thumb price.creator %>
<p class="meta">Created <%= time_ago_in_words price.created_at %> ago</p>
    <% unless price.created_at == price.updated_at %>
		<p class="meta"><b>   Updated <%=time_ago_in_words price.updated_at %> ago</b></p>
		<% end %>
<% if logged_in? and current_user.valid? and current_user.id == price.created_by %>
		<big><strong>
		<%= link_to 'Edit', :controller => "prices", :action => "edit", :post_id => @post, :id => price.id %>
		</big></strong>
		<% end %>
<p>
<p>Price: $<%= price.cost %>
<p>Retailer: <%= price.reference %>
<%= clear_div %>
</div>
<% end %>  