<div id="comments">
  <h2>Edit price</h2>
	
<%= form_tag :controller => "prices", :action => "update", 
	     :drug_identification_number => @drug.drug_identification_number, :id => @price.id  %>
<b>Cost</b><br>
<%= text_field "price", "cost" %><br><br>
<b>Retailer</b><br>
<%= text_field "price", "reference" %><br><br>	 
   
<%= submit_tag "Edit Price" %><br><br>
<%= link_to "Delete", {:drug_identification_number => @drug.drug_identification_number, 
                       :id => @price.id, :action => 'destroy'}, :confirm => "Are you sure?", :class => "delete" %>
</div>
