<ul class="posts">

<% @drugs.each do |la| %>
	<% if la.valid? %>
    <%  @drug_code = la.drug_code %>
     <%  @drug_name = la.name %>
    <%  @atc = Code.find_by_drug_code(@drug_code) %><% end %>
	<% if @atc != nil %>
    <li class="post">
    <span class="post_name"><%= @drug_name %></span>
    <br />
    <span class="post_atc"><%= @atc.tc_atc_number %></span>
    </li>
	<% end %>
  <% end %>
<% if @drugs.empty? %>
	<li class="post">
		<span class="post_name" >Eek! No results were found. Try changing the Drug Name again.</span>
	</li>
<% end %>
</ul> 
