<ul class="posts">

<% @drugs.each do |drug| %>
    <li class="post">
    <span class="post_name"><%= drug.brand_name %></span>
    <br />
    <span class="post_din"><%= drug.drug_identification_number %></span>
    </li>
  <% end %>
<% if @drugs.empty? %>
	<li class="post">
		<span class="post_name" >Eek! No results were found. Try changing the Drug Name again.</span>
	</li>
<% end %>
</ul> 
