<h2>Last Ten Forum Posts</h2>
<br>
<table border = "0" cellpadding="5" cellspacing="3"  width = "100%">
  <tr align="center" bgcolor="#e1e1e1">
      <td>
  	<b>Name</b>
      </td>
      <td>
  	<b>Created</b>
      </td>
      <td>
	<b>Body</b>
      </td>
      <td>
  	<b>Author</b>
      </td>
  </tr>
  <% for post in @latest_f %>
  <tr align="center" bgcolor="#cae1ff">
    <td>
      <b><%= link_to post.name, :action => 'show', :controller => 'threaded_discussion_posts', :id => post.root.id %></b>
    </td>      
    <td>
      <font size="1"><%= nice_date post.created_at %></font>
    </td> 
    <td>
      <%= truncate(post.body, 50) %>
    </td>
    <td>
      <font size="1"><%= link_to post.creator.name, user_url(:id => post.created_by) %></font>
    </td>
  </tr>
  <% end %>
</table>
