<p id='helptext'>
  Use the search box below to search for 
  <%= link_to 'ATC Codes', 'http://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System' %> 
  to attach to your post.<br/>
  You can search over and over!
  Click on a box to add the ATC Code to your post.
  <%= link_to_function 'Remove', "$(this).up('p').remove()", :id => 'remove' %>
</p>