<p id='helptext'>
  Use the search box below to search for 
  <%= link_to 'ATC Codes', 'http://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System' %> 
  to attach to your post.<br/>
  The form will generate boxes containing possible matches to your query.<br/>
  These boxes show the ATC Code and class in bold, followed by an example brand name, and the drug's active 
  ingredients in italics.
  Click on a box to add the ATC Code to your post.
  <%= link_to_function 'Remove', "$(this).up('p').remove()", :id => 'remove' %>
</p>