<h2>Last Ten Interactions</h2>
<br>
<table border = "0" cellpadding="5" cellspacing="3"  width = "100%">
 		<tr>
			<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Affecting Drug</b>
 			</font>
            </td>
            <td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Affected Drug</b>
 			</font>
            </td>
 			<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Created</b>
 			</font>
           	</td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Last Updated</b>
 			</font>
           	</td>
		<td align="center" valign="top" bgcolor="#e1e1e1" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Author</b>
 			</font>
           	</td>
  		</tr>
  		<% for post in @latest_i %>
  				<tr align="center" style = "background: <%= "#a2b5cd" if post.significance == "3" %>
    				<%= "#bcd2ee" if post.significance == "2" %>
    				<%= "#cae1ff" if post.significance == "1" %>
    				<%= "#6699FF" if post.significance == nil %>
    				<%= "#6699FF" if post.significance == " " %>;">
    				<td><b><%= link_to post.name, :action => 'show', :controller => "#{post.class}s", :id => post.id %></td></b>
    				<td><b><%= link_to post.drug2, :action => 'show', :controller => "#{post.class}s", :id => post.id %></td></b>
    				<td><font size="1"><%= nice_date post.created_at %></font></td> 
    				<td><font size="1"><%= nice_date post.updated_at %></font></td>  
	<td><font size="1"><%= link_to User.find(post.created_by).name, user_url(:id => post.created_by) %></font></td>
  				</tr>
		<% end %>
	</table>
