<table id="posts">
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Created</th>
    <th>Body</th>
    <th>Author</th>
    <th>Comments</th>
  </tr>
  		<% for post in @latest_p %>
  <tr class=<%= (post.significance == ' ' or post.significance.nil?) ? 'none' : post.significance.downcase %>>
    				<td><b>
<% if post.class == Warning %>
<%= link_to proper_noun(post.drug_refs[0].code.tc_atc), warning_url(:id => post.id) %>
<% elsif post.class == Bulletin %>
<%= link_to proper_noun(post.drug_refs[0].drug.brand_name), bulletin_url(:id => post.id) %>
<% elsif post.class == Treatment or post.class == Guideline %>
<%= link_to post.name, :action => 'show', :controller => post.class.to_s + 's', :id => post.id %>
<% elsif post.class == Interaction %>
<% for dr in post.drug_refs %>
     <% if dr.label == 'int_drug2' then drug2 = dr.code.tc_atc %>
     <% else %>
     <% drug1 = dr.code.tc_atc %>
     <% end %>
<% end %>
<%= link_to proper_noun(drug1) + " and " + proper_noun(drug2), interaction_url(:id => post.id) %>
<% elsif post.class == Comment %>
<%= link_to post.name, :action => 'show', :controller => Post.find(post.post_id).class.to_s.downcase + "s", :id => post.post_id %>
<% elsif post.class == Price %>
<%= link_to post.name, :action => 'show', :controller => 'drugs', :id => post.drug_refs[0].drug_identification_number %>
<% end %>
</td></b>
				<td><%= post.class %></td>
    			<td><%= nice_date post.created_at %></td>   
    			<td><%= truncate(post.body, 50) %></td> 
	            <td><%= link_to post.creator.name, user_url(:id => post.created_by) %></td>
				<td>
	<% c = post.comments %>
	<% if c.count == 0 %>
	   None
	<% else %>   
	<%= pluralize c.size, 'comment' %>
	  <% unless c.detect {|com| !com.agree.nil? }.nil? %><!-- unless none of the comments have votes -->
	    <br />
	    <% num_yes = c.find_all{|com| com.agree}.length %>
	    <% num_no = c.find_all{|com| com.agree == false}.length %>
        <%= link_to  "#{(num_yes*100)/(num_yes + num_no)}% agree", 
        :action => 'show', :controller => post.class.to_s.downcase + "s", :id => post %>
	    <br /><small> (<%= num_yes %> / <%= num_yes + num_no %> people) </small>
	  <% end %>
	 <% end %>
	            </td>
  				</tr>
		<% end %>
	</table>
