<% if @total == 0 %>

<p align="center">No items found...</p>

<% else %>

<p align="center">for query <strong><%= @query %></strong>:</p>
<% end %>

 <% @cheese.each do |fromage| %>
<div class="post">
    <%= user_thumb fromage.creator %>
<div class="body">
	<% if fromage.effect == nil %>
    <h4><%= link_to fromage.name, url_for(:action => 'show', :id => fromage, :controller => "#{fromage.type}s" ) %></h4>
    <% else %>
	<h4><%= link_to fromage.name + " and " + fromage.drug2, url_for(:action => 'show', :id => fromage, :controller => "#{fromage.type}s" ) %></h4>
	<% end %>
	<p class="meta">
      
	<span class="comments">
	<% if fromage.comments.count == 0 %>
	No comments
	<% else %>
<%= link_to  "#{fromage.comments.tally2 * (100 / fromage.comments.count)}% agree", :action => 'show', :id => fromage, :controller => "#{fromage.type}s" %>
	  <br><small> (<%= fromage.comments.tally2 %> / <%= fromage.comments.count %> people)</small>
	  <% end %>
	  </span>	

      Updated <%= time_ago_in_words fromage.updated_at %> ago
    </p>
    <%= simple_format truncate(fromage.body, 100) %>
  </div>
<%= clear_div %>
</div>

<% end %>

<%= link_to 'Previous page', { :page => @pages.current.previous, :query => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :query=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :query => @query} if @pages.current.next %>

<h4>Search</h4>
<%= render :partial => 'searchform' %>