<h2>Last Ten Treatments</h2>
<br>
<table border = "0" cellpadding="5" cellspacing="3"  width = "100%">
 		<tr>
			<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Condition</b>
 			</font>
            </td>
 			<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Drug of Choice</b>
 			</font>
           	</td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Created</b>
 			</font>
           	</td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" width="25%" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Body</b>
 			</font>
           	</td>
		<td align="center" valign="top" bgcolor="#e1e1e1" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Author</b>
 			</font>
           	</td>
		<td align="center" valign="top" bgcolor="#e1e1e1" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Comments</b>
 			</font>
           	</td>
  		</tr>
  		<% for post in @latest_t %>
  				<tr align="center" bgcolor="#cae1ff">
    				<td><b><%= link_to post.name, :action => 'show', :controller => 'treatments', :id => post.id %></td></b>
    				<td><%= post.fldrug1 %>
    				<td><font size="1"><%= nice_date post.created_at %></font></td>
    				<td><font size="1"><%= truncate post.body, 50 %></font></td>   
	<td><font size="1"><%= link_to User.find(post.created_by).name, user_url(:id => post.created_by) %></font></td>
		<td><% if post.comments.count == 0 %>None<% else %>
<%= link_to  "#{(post.comments.tally2*100)/post.comments.count}% agree", treatment_url(:id => post.id) %>
	 <br><small> (<%= post.comments.tally2 %> / <%= post.comments.count %> people) </small>
	 <% end %></td>
  				</tr>
		<% end %>
	</table>
