<h2>Last Ten Warnings</h2>
<br>
<table border = "0" cellpadding="10" cellspacing="3"  width = "100%">
 		<tr>
			<td align="center" valign="top" bgcolor="#e1e1e1" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b> Drug Name</b>
 			</font>
            </td>
 			<td align="center" valign="top" bgcolor="#e1e1e1" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Created</b>
 			</font>
           	</td>
           	<td align="center" valign="top" bgcolor="#e1e1e1" nowrap>
 			<font size="1" color="#6b6b6b" face="verdana,arial,helvetica,sans-serif">
  				<b>Last Updated</b>
 			</font>
           	</td>
  		</tr>
  		<% for post in @latest_w %>
  				<tr align="center" style = "background: <%= "#a2b5cd" if post.significance == "3" %>
    				<%= "#bcd2ee" if post.significance == "2" %>
    				<%= "#cae1ff" if post.significance == "1" %><%= "#6699FF" if post.significance == nil %>;">
    				<td><b><%= link_to post.name, :action => 'show', :controller => 'warnings', :id => post.id %></td></b>
    				<td><font size="1"><%= nice_date post.created_at %></font></td>   
    				<td><font size="1"><%= nice_date post.updated_at %></font></td> 
  				</tr>
		<% end %>
	</table>
