<br>
<form method="get" action="cheese" controller="posts">
            <input type="text" name="query" size="15" value="" />
            <br><br>
            <select name="type_options">
                <option value="all">All Posts</option>
                <option value="Warning">Warnings</option>
                <option value="Interaction">Interactions</option>
                <option value="Treatment">Treatments</option>
                <option value="Bulletin">Bulletins</option>
            </select>
            
            <br><br>
            <select name="date_options">
                <option value="all">All Dates</option>
                <option value="1">This year</option>
                <option value="2">This month</option>
                <option value="3">This week</option>
                <option value="4">Today</option>
            </select>
            <br><br>
            <select name="author_options">
                <option value="all">All Authors</option>
                <option value="trusted">By Trusted Users Only</option>
            </select> 
            <br><br>
            <input type="submit" name="submit" value="Search" />
            
        </form> 
<br>
<%= link_to "Search Tips", {:action => 'popup', :controller => 'posts'}, :popup => ['height=325,width=600'] %>