<table cellspacing="10" width="100%">
  <tr align="center">
    <td><%= pluralize(@w_month.size,'warning') %> added this month.</td>
    <td><%= pluralize(@i_month.size,'interaction') %> added this month.</td>
    <td><%= pluralize(@t_month.size,'treatment') %> added this month.</td>
  </tr>
  <tr align="center">
    <td><%= button_to_function "Last 10 Warnings",
       remote_function(
       :update => "display",
       :url    => { :action => :w_five },
       :before => "$('display').update('Loading...')",
       :success => "$('display').hide()",
       :complete => visual_effect(:blind_down, :display)), :style => "width: 115px;" %>
    </td>
    <td><%= button_to_function "Last 10 Interactions",
	remote_function(
       :update => "display",
       :url    => { :controller => :posts, :action => :i_five },
       :before => "$('display').update('Loading...')",
       :success => "$('display').hide()",
       :complete => visual_effect(:blind_down, :display)), :style => "width: 125px;" %>
    </td>
    <td><%= button_to_function "Last 10 Treatments",
	remote_function(
       :update => "display",
       :url    => { :controller => :posts, :action => :t_five },
       :before => "$('display').update('Loading...')",
       :success => "$('display').hide()",
       :complete => visual_effect(:blind_down, :display)), :style => "width: 125px;" %>
    </td>
  </tr>
</table>
  <br>
<table cellspacing="10" width="100%">
  <tr align="center">
    <td><%= pluralize(@b_month.size, 'bulletin') %> added this month.</td>
    <td><%= pluralize(@f_month.size, 'forum post') %> added this month.</td>
    <td><%= pluralize(@p_month.size, 'post') %> added this month.</td>
  </tr>
  <tr align="center">
    <td><%= button_to_function "Last 10 Bulletins",
	remote_function(
       :update => "display",
       :url    => { :controller => :posts, :action => :b_five },
       :before => "$('display').update('Loading...')",
       :success => "$('display').hide()",
       :complete => visual_effect(:blind_down, :display)), :style => "width: 115px;" %>
    </td>
    <td><%= button_to_function "Last 10 Forum Posts",
	remote_function(
       :update => "display",
       :url    => { :controller => :posts, :action => :f_five },
       :before => "$('display').update('Loading...')",
       :success => "$('display').hide()",
       :complete => visual_effect(:blind_down, :display)), :style => "width: 130px;" %>
    </td>
    <td><%= button_to_function "Last 10 Posts",
	remote_function(
       :update => "display",
       :url    => { :controller => :posts, :action => :p_five },
       :before => "$('display').update('Loading...')",
       :success => "$('display').hide()",
       :complete => visual_effect(:blind_down, :display)), :style => "width: 115px;" %>
    </td>
  </tr>
</table>
<br>
<div id="display"><%= render :partial => 'p_five' %></div>

