<small><b>Search Query Tips</b>
<p>1. Use the asterisk (*) to search for segments of a word. 
<br>&nbsp&nbsp&nbsp For example, the search <b>tylen*</b> will return all posts containing <b>Tylenol</b>. 
<br>&nbsp&nbsp&nbsp Also, searching <b>mint</b> may only return "Antiseptic Mouthwash Cool Mint", but 
searching <b>*mint</b> will return &nbsp&nbsp&nbsp both the first result AND "Aquafresh Extreme Clean 
Empower<b>mint</b> Toothpaste".
<p>2. Use the tilde (~) if unsure of spelling.
<br>&nbsp&nbsp&nbsp e.g. The query <b>glimepride~</b> will return <b>Glimepiride</b>.
<p>3. Use - or NOT to exclude posts with certain words or phrases.
<br>&nbsp&nbsp&nbsp e.g. <b>Tylenol -children's</b> will return only adult-brand tylenol.</p>
<p>4. Use double quotes ("") to search phrases.
<br>&nbsp&nbsp&nbsp e.g. <b>"Children's Tylenol"</b> will not return a post about tylenol which mentions children on the side.</p>
<p>5. Use OR to find all posts containing one word OR the other.</p>
</small>