<% standard_form :post, @post do |f| %>

<%= f.text_field :name, :label => "Drug Name" %>
<%= f.text_field :slatc, :label => "DIN Code" %>
<%= f.text_field :news_source, :label => "Manufacturer" %>

<%= standard_submit %>

<% end %>