<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title><%= site_title + (page_title.blank? ? '' : " - #{page_title}") %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= auto_discovery_link_tag(:rss, :action => :rss, :controller => :feed) %>
  </head>
             
  <body class="<%= params[:controller] %>">
    <%= flash_div :system_announcement %>
    <div id="header">
      <h1><div id="imagelink"><%= link_to image_tag("mydrugref.gif", :border => "0"), home_url %></div></h1>
         <div id="account"> 
       	
		<% if logged_in? and current_user.valid? %> 
		
		 Signed in as <%= link_to current_user.first_name, user_url(:id => current_user), :class => 'strong stealth' %>
		 <br/><%= link_to "Home", :action => 'news', :controller => 'posts' %>
        <%= link_to 'Settings', edit_user_url(:id => current_user), :class => 'small subtle' %>
        <%= link_to 'Sign Out', session_url(:id => session.session_id), :method => :delete, :class => 'small delete' %>
        
        <% else %>
       
        You are not currently signed in.
        <br/><%= link_to 'Sign In', {:action => 'new', :controller => 'sessions'}, :class => 'strong stealth' %>
		<%= link_to "Home", :action => 'news', :controller => 'posts' %>
		
		<% end %>
		
		</div>
      <div id="navigat">
        <ul id="nav">
          <li id="warnings"><%= link_to_unless_current "Warnings", warnings_url %>
          <%= link_to ' (+)', new_warning_url if logged_in? %></li>
          <li id="treatments"><%= link_to_unless_current "Treatments", treatments_url %>
          <%= link_to ' (+)', new_treatment_url if logged_in? %></li>
          <li id="interactions"><%= link_to_unless_current "Interactions", interactions_url %>
          <%= link_to ' (+)', new_interaction_url if logged_in? %></li>
          <li id="bulletins"><%= link_to_unless_current "Bulletins", bulletins_url %>
          <%= link_to ' (+)', new_bulletin_url if logged_in? %></li>
          <li id="guidelines"><%= link_to_unless_current "Guidelines", guidelines_url %>
          <%= link_to ' (+)', new_guideline_url if logged_in? %></li>
        </ul>
      </div>  
    </div>
  <div id="wrapper">
    <div id="utility">
      <%= flash_div :notice %>
        <% if logged_in? and current_user.valid? %>
        <div id="status">
          <%= render :partial => "users/trust" %>
        </div>
        <% end %>
       <br>
     <%= link_to_unless_current "Users", users_url, :class => 'strong stealth' %> 
    </div>
    
    <div id="main">
      <%= flash_div :warning %>
      <%= content_tag :h2, page_title %>
      <%= yield %>
    </div>

    <div id="rightbar">
      <div id="box">
      <%= render :partial => 'posts/searchform' %>
      </div>
      <br><br>
      <div id="box">
      <h2>Get RSS Feeds!</h2>
      MyDrugRef now offers RSS Feeds. 
      <%= link_to "Click here", :action => 'rss', :controller => 'feed' %> to get them!
      </div>
	<% if page_title == "Warnings" or page_title == "Treatments" or page_title == "Interactions" or page_title == "Welcome!" %>
	<br><br>
	<div id="leg">
	<h2>Legend</h2>
	<table cellspacing="3">
	   <tr><th>Color</th><th>Significance</th></tr>
	   <tr><td class="high"></td><td> High </td></tr>
	   <tr><td class="medium"></td><td> Medium </td></tr>
	   <tr><td class="low"></td><td> Low </td></tr>
	   <tr><td class="none"></td><td> Not Specified </td></tr>
	</table>
	</div>
	<% end %>
    </div>
    </div><!-- end wrapper -->
	</body>
	</html>