<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title><%= site_title + (page_title.blank? ? '' : " - #{page_title}") %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
  </head>
             
  <body class="<%= params[:controller] %>">
    <%= flash_div :system_announcement %>
    <div id="header">
      <h1><div id="imagelink"><%= link_to(image_tag("mydrugref.gif", :border => "0"), home_url) %></div></h1>
      <% if logged_in? and current_user.valid? %>
         <div id="account"> 
       
	   <% if @page_title == 'Warnings' or @page_title == 'Interactions' or @page_title == 'Users' or @page_title == 'Treatments' or @page_title == 'Bulletins' %>  
        <form method="get" action="cheese" controller="posts">
             &nbsp; <input type="text" name="query" size="15" value="" />
            <input type="submit" name="submit" value="Search" />
            <select name="type_options">
                <option value="all">All Posts</option>
                <option value="Warning">Warnings</option>
                <option value="Interaction">Interactions</option>
                <option value="Treatment">Treatments</option>
                <option value="Bulletin">Bulletins</option>
                </optgroup></select>
            <select name="date_options">
                <option value="all">All Dates</option>
                <option value="1">This year</option>
                <option value="2">This month</option>
                <option value="3">This week</option>
                <option value="4">Today</option>
                </select>
	    
         <br><%= link_to "Search Tips", {:action => 'popup', :controller => 'posts'}, :popup => ['height=325,width=600'] %>  
        </form> 
		<% end %>
		 
		 Signed in as <%= link_to current_user.first_name, user_url(:id => current_user), :class => 'strong stealth' %><br/><%= link_to "Home", :action => 'news', :controller => 'posts' %>
 <%= link_to 'Settings', edit_user_url(:id => current_user), :class => 'small subtle' %>
 <%= link_to 'Sign Out', session_url(:id => session.session_id), :method => :delete, :class => 'small delete' %>
		</div>
        <ul id="nav">
          <li id="warnings"><%= link_to_unless_current "Warnings", warnings_url %></li>
          <li id="treatments"><%= link_to_unless_current "Treatments", :action => 'index', :controller => 'treatments' %></li>
          <li id="users"><%= link_to_unless_current "Users", users_url %></li>

          <li id="interactions"><%= link_to_unless_current "Interactions", interactions_url %></li>
          <li id="bulletins"><%= link_to_unless_current "Bulletins", :action => 'index', :controller => 'bulletins' %></li>

        </ul>
      <% end %>
    </div>

    <div id="utility">
      <%= flash_div :notice %>
      <% if logged_in? and current_user.valid? %>
        <div id="status">
          <%= render :partial => "users/trust" %>
        </div>
      <% end %>
    </div>
    
    <div id="main">
      <%= flash_div :warning %>
      <%= content_tag :h2, page_title %>
      <%= yield %>
    </div>
	</body>
	</html>
